* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, sans-serif;
}

:root {
    font-size: 50%;
    --primary-color: rgba(255, 255, 255, 0.7);
    --secundary-color: rgb(255, 255, 255);
    --bg-color-form: rgba(221, 221, 221, 0.06);
    --bg-color-button-login: rgba(255, 255, 255, 0.05);
    --bg-color-button-sign: rgba(255, 255, 255, 0.12);
    --bg-color-button-provider: rgba(62, 59, 68, 0.7);
    --bg-color-button-hover: rgba(15, 15, 15, 0.98);
    --border-color: rgb(117, 62, 239);
    /* border-width: 2px; border-radius: 4px; */
    --link-color: rgb(145, 129, 248);
    --input-bg-color: rgba(0, 0, 0, 0.2);
    --input-border-color: rgba(255, 255, 255, 0.4);
    --line-color: rgba(255, 255, 255, 0.3);
}

html,
body {
    min-height: 100%;
    height: 100%;
    color: var(--secundary-color);
    font-size: 1.6rem;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/background-111.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* NAVIGATION */

.navigation-menu {
    min-width: 100%;
    height: 8.5rem;
    padding-inline: 5.4rem;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5) 0.48%,
        rgba(0, 0, 0, 0.47) 3.73%,
        rgba(0, 0, 0, 0.443) 6.67%,
        rgba(0, 0, 0, 0.424) 9.29%,
        rgba(0, 0, 0, 0.404) 11.98%,
        rgba(0, 0, 0, 0.384) 14.88%,
        rgba(0, 0, 0, 0.37) 18.18%,
        rgba(0, 0, 0, 0.34) 25%,
        rgba(0, 0, 0, 0.32) 32.4%,
        rgba(0, 0, 0, 0.28) 39.23%,
        rgba(0, 0, 0, 0.24) 47.42%,
        rgba(0, 0, 0, 0.2) 57.17%,
        rgba(0, 0, 0, 0.12) 68.67%,
        rgba(0, 0, 0, 0.06) 82.12%,
        rgba(0, 0, 0, 0) 97.71%
    );
}

.menu-section {
    width: max-content;
    display: flex;
    align-items: center;
    height: 3.6rem;
    gap: 10px;
}

.menu-section a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
}

#menu-icon svg path {
    fill: var(--primary-color);
    stroke-width: 3px;
    stroke: var(--primary-color);
}

#menu-icon:hover svg path {
    fill: var(--secundary-color);
    stroke-width: 3px;
    stroke: var(--secundary-color);
}

#logo-hbo svg path {
    fill: var(--secundary-color);
    stroke: var(--secundary-color);
}

#search-icon svg path {
    stroke: var(--primary-color);
    stroke-width: 4px;
}

#search-icon:hover svg path {
    stroke: var(--secundary-color);
    stroke-width: 4px;
}

/* END NAVIGATION */

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.main h2 {
    margin-top: 2.8rem;
    margin-bottom: 2.4rem;
    font-size: 3rem;
    color: var(--secundary-color);
}

.main .form {
    height: 56.8rem;
    width: 62%;
    background-color: var(--bg-color-form);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.form p {
    font-size: 1.6rem;
}

input[type='text'],
input[type=''] {
    width: 100%;
    height: 5.6rem;
    border: 0px solid black;
    border-color: var(--input-border-color);
    border-width: 0.5px;
    border-radius: 0.4rem;
    padding-left: 1.2rem;
    background-color: var(--input-bg-color);
    font-size: 1.6rem;
    margin-top: 2rem;
    color: var(--secundary-color);
}

.form input[type=''] {
    margin-bottom: 2rem;
    background-image: url(/assets/images/icons/view-icon.png);
    background-repeat: no-repeat;
    background-position: 98.5%;
    background-size: 1.3em;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.login button {
    background-color: var(--bg-color-button-login);
}

#checkbox {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.login label {
    color: var(--primary-color);
}

input[type='checkbox'] {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.6rem;
}

.wrapper button {
    width: max-content;
    padding-bottom: 1.2rem;
    padding-top: 1.1rem;
    padding-inline: 2rem;

    min-width: 14.4rem;
    min-height: 4.4rem;

    border-width: 0.2rem;
    border-radius: 0.4rem;

    font-size: 1.4rem;
    font-weight: 600;
    border-color: rgba(0, 0, 0, 0);
    color: var(--secundary-color);
}

.login-provider button {
    background-color: var(--bg-color-button-provider);
}

.login-provider button:hover,
.login button:hover {
    background-color: var(--bg-color-button-hover);
    border-color: var(--border-color);
    border: 1px solid var(--border-color);
    /* border-width: 0.5px; */
}

.login-provider {
    display: flex;
    flex-direction: column;
}

.login button:enabled {
    cursor: pointer;
}

.login a {
    width: 50%;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: right;
    color: var(--link-color);
}

.line-or {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line-or span {
    margin-inline: 2rem;
    color: var(--secundary-color);
    font-weight: 600;
}

.line-or hr {
    border-color: var(--line-color);
    margin-block: 3.2rem;
}

.login-provider p {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

footer a {
    display: flex;
    width: 62%;
    margin-inline: auto;
    justify-content: center;
    height: max-content;
    margin-block: 4rem;
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
}

#sign {
    background-color: var(--bg-color-button-sign);
    font-size: 1.6rem;
    padding-inline: 1.4rem;
    padding-block: 1rem;
    line-height: 2.1rem;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: rgba(0, 0, 0, 0);
}

#sign:hover {
    background-color: var(--secundary-color);
    color: rgb(0, 0, 0);
}

.menu-section a:hover {
    color: var(--secundary-color);
}

#login {
    color: var(--secundary-color);
}

#recovery-pass:hover {
    color: rgb(116, 68, 218);
}
